@function rem-calc($size) {
  $remSize: $size / 16;
  @return #{$remSize}rem;
}

// colors
$ftc-gray: #CCC;
$ftc-gray-darken: #4F4F4F;
$ftc-blue: #0088cc;
$ftc-black-light: #212529;
$ftc-green: #82BE52;

$bgc-green: #82BE52;
$bgc-green-light: #e6f2dc;
$bgc-red: #EB5757;
$bgc-gradient-green: 201.48deg, #82BE52 3.06%, #D2D96A 100%;

html {
  .wizard-progress{
    &.wizard-progress-lg {
      ul li.small-item {
        a {
          padding-top: 20px;
          font-size: rem-calc(12);
          span {
            width: 30px;
            height: 30px;
            margin-top: -15px;
            margin-left: -15px;
            background-color: white;
            line-height: 1;
          }
        }
        .fa-check {
          font-size: rem-calc(14);
          color: $ftc-gray;
          vertical-align: 3px;
          text-indent: 2px;
        }
        &.active {
          .fa-check {
            color: $ftc-blue;
          }
        }
        &.green-outline {
          .fa-check {
            color: $bgc-green;
          }
        }
      }
    }
    .wizard-steps li.red-outline a span{
      color: $bgc-red;
      border-color: $bgc-red;
      background-color: white;
    }
  }
  .toggle-primary {
    &.custom {
      label {
        border-left-color: $bgc-green;
      }
      &.toggle {
        .active > label {
          background-color: $bgc-green-light !important;
          color: $ftc-gray-darken;
          border-color: $bgc-green;
          &:before {
            border-top-color: $ftc-gray-darken;
          }
        }
      }
    }
  }
  body {
    .tabs-green {
      .nav-tabs {
        li.active {
          .nav-link {
            border-top-color: $bgc-green;
            color: $ftc-green;
            background-color: white;
          }
        }
        .nav-link {
          color: $ftc-green;
          background-color: transparent;
          &:hover {
            border-top-color: $bgc-green;
            color: $ftc-green;
            background-color: white;
          }
        }
      }
    }
  }
}

.checkbox-custom {
  label {
    &.pos-checkbox {
      &:before {
        top: 12px;
      }
    }
  }
  input[type="checkbox"]:checked {
    & + label.pos-checkbox:after {
      top: 11px;
    }
  }

}

table {
  .fa-upload,
  .delete-row {
    color: $ftc-black-light;
  }
}

.group-icon {
  > * {
    margin: 5px 10px;
  }
  a {
    color: inherit;
    &:hover {
      text-decoration: none;
    }
  }
}

.fz-large {
  font-size: rem-calc(20);
}
.fz-medium {
  font-size: rem-calc(18);
}
.contact-form {
  a {
    color: inherit;
  }
}
html,
html.dark {
  .wizard-progress {
    .steps-progress {
      &.completed {
        .progress-indicator {
          background: $bgc-green;
        }
      }
    }
  }
}

.custom-alert {
  width: 300px;
  display: none;
  z-index: 3;
  &.width-full {
    width: 100%;
  }
}

.alert-active {
  .custom-alert {
    display: block;
  }
}

.alert-danger {
  p {
    color: inherit;
  }
}

.bg-danger {
  background-color: $bgc-red;
  color: white;
  .close {
    color: white;
  }
  .footer-alert {
    .fas, .far {
      color: white;
    }
  }
}

.pos-right {
  right: 0;
}
.pos-left {
  left: 0;
}
.pos-top {
  top: 0;
}
.pos-outside-right {
  right: 0;
  transform: translate(100%, 0);
}

.show-info {
  display: block;
}

.comment-box {
  background-color: white;
  width: 300px;
  text-align: left;
  z-index: 3;
  .del {
    color: inherit;
  }
}

.bd-red {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid $bgc-red;
    left: 0;
    top: 0;
    pointer-events: none;
  }

}

.thumb-info {
  .thumb-info-type{
    &.secondary {
      background: linear-gradient($bgc-gradient-green);
    }
  }
}

.progress {
  .progress-bar-success {
    background: linear-gradient($bgc-gradient-green);
  }
}

.simple-todo-list {
  li.completed.green:before {
    color: $ftc-green;
  }
}
